node_modules
TypeScriptPlayGround/packages
TypeScriptPlayGround/DomeTest/obj
TypeScriptPlayGround/DomeTest/bin
TypeScriptPlayGround/ErrorLog/obj
TypeScriptPlayGround/ErrorLog/bin
TypeScriptPlayGround/TypeScriptPlayGround/obj
TypeScriptPlayGround/TypeScriptPlayGround/bin